//  Include Slick
@import "slick/slick.less";
@import "slick/slick-theme.less";

//  
.display-flex(){
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.justify-content(@__space){
    -moz-justify-content: @__space;
    -webkit-justify-content: @__space;
    -ms-justify-content: @__space;
    justify-content: @__space;
}

.flex-wrap(@__wrap){
    -ms-flex-wrap:@__wrap;
    flex-wrap:@__wrap;
}  

.animation(@__dislay,@__s,@__style){
    -webkit-animation:@__display @__s @__style;
    -moz-animation: @__display @__s @__style;
    animation:@__display @__s @__style;
}

.translateX(@__x){
    -webkit-transform:translateX(@__x);
    -ms-transform:translateX(@__x);
    transform:translateX(@__x);
}

.translateY(@__y){
    -webkit-transform:translateY(@__y);
    -ms-transform:translateY(@__y);
    transform:translateY(@__y);
}

.translate(@__x,@__y){
    -webkit-transform:translate(@__x,@__y);
    -ms-transform:translate(@__x,@__y);
    transform:translate(@__x,@__y);
}

.flex-mobile__m(){ 
    &:extend(.display-flex);
    flex-wrap:wrap;
    >*{
        width: 50%;
    }    
}

.flex-mobile__s() {
    &:extend(.display-flex);
    flex-wrap:wrap;
    >*{
        width: 100%;
    }
}

.row{
    width: 100%;
    .display-flex();
    .flex-wrap(wrap);
    .col-2{
        width: 50%;
    }
    .col-3{
        width: calc(100%/3);
    }
    .col-4{
        width: 25%;
    }
    .col-5{
        width: 20%;
    }
}


