
// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//  Include Slick
@import "slick/slick.less";
@import "slick/slick-theme.less";

// Screen Responsive variables
@import "variable/_screen.less";

//  Color variables
@import "variable/_colors.less";

//  Fonts variables
@import "variable/_fonts.less";

//  Navigation

//  Tabs
@tab-content__border-top-status: true; 

//  Sidebar
@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//  Message
@message-success__background: @color-white;
@message-success__border-color: @color-dark-green1;
@message-error__background: @color-white;
@message-error__border-color: @error__color;
// @layout__max-width: 1240px;
@minicart-icons-color-hover: @color-red;

//  Form
@form-element-input__height: 37px;

//  Copyright
@copyright__background-color: @color-gray-middle4;
@navigation__background: @color-white;

//  Sections 
@button-primary__background: @color-black;
@button__border-radius: unset;
@navigation-desktop-level0-item__line-height: unset;
@navigation-desktop__font-size: 12px;
@navigation-desktop-level0-item__padding: 0 12px;
@navigation-desktop-level0-item__padding: 0 6px;


