
// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//  Header
@header-panel__background-color: #2d2d2f;

//  Footer
@color-background__footer-top:#f1f1f1;

//  Navigation
@navigation__background: @color-white;
@navigation-desktop-level0-item__line-height: unset;
@navigation-desktop__font-size: 12px;
@navigation-desktop-level0-item__padding: 0 6px;

//  Sidebar
@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//  Message
@message-success__background: @color-white;
@message-success__border-color: @color-dark-green1;
@message-error__background: @color-white;
@message-error__border-color: @error__color;

@minicart-icons-color-hover: @color-red;

//  Form
@form-element-input__height: 37px;

//  Copyright
@copyright__background-color: @color-gray-middle4;

//Button
@button__border-radius: unset;
@button-primary__background: @theme__color__primary;

//  Tabs
@tab-content__border-top-status: true; 
@tab-control__margin-right: 0;
@tab-control__font-family: @font-family__roboto-bold;
@tab-control__font-size: 13px;
@tab-control__font-weight: @font-weight__bold;
@tab-content__padding-left: 29px;
@tab-content__padding-right: @tab-content__padding-left;
@tab-control__padding-left: 24px;
@tab-control__padding-right: @tab-control__padding-left;

//Pages
@pager-icon__font-size: 26px;
@pager-action__background: none;
@pager-action__border: 0;
@pager-action__hover__color: none;
@pager-action__hover__background: none;
@pager__color: @color-black;
@pager__visited__color: @color-red;

//  Sections 
@layout-column-main__width-2-left: 100%;











